################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BitflowCpp20/.vs/BitflowCpp20/v15
